body {
    background: #B29AB3;
    margin: 0px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    text-align: center;
    font-size: 55px;
}
.letter {
    color: #8D5391;
}

#mode {
    display: flex;
    width: 400px;
    height: 350px;
    margin: 100px auto;
    flex-flow: row wrap;
    justify-content: space-around;
    background: whitesmoke;
    color: #67156D;
    border-radius: 5%;
}
#mode h3 {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 30px;
    flex: 1 1 100%;
}
span {
    display: inline-block;
    flex: 1 1 100%;
}
#mode a {
    /* border: 2px black solid; */
    border-radius: 5%;
    background: #B29AB3;
    color: white;
    text-align: center;
    flex: 0 1 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    transition: background 0.5s;
}
a:link {
    text-decoration: none;
}
#mode a:hover {
    background: #8D5391;
}
svg {
    margin-top: 20px;
}
#pickSide {
    display: none;
    /* visibility: hidden; */
    /* border: 2px black solid; */
    width: 300px;
    height: 250px;
    margin: 100px auto;
    flex-flow: row wrap;
    justify-content: center;
    background: whitesmoke;
    color: #67156D;
    border-radius: 5%;
}
#pickSide h3{
    text-align: center;
    font-size: 32px;
    position: relative;
    top: 20px;
    flex: 1 1 100%;
    margin-bottom: 0;
}
#pickSide a {
    /* border: 2px black solid; */
    border-radius: 5%;
    /* background: #B29AB3; */
    cursor: default;
    color: #B29AB3;
    text-align: center;
    flex: 0 1 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* margin-bottom: 20px; */
    
}
#pickSide svg {
    cursor: pointer;
    transition: color 0.5s;
}
#pickSide svg:hover {
    color: #67156D;
}
#game {
    display: none;
    border-radius: 5%;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: whitesmoke;
    color: #67156D;
    font-size: 20px;
}
table {
    margin: 50px auto;
}
td {
    border: 2px solid #8B1393;
    width: 100px;
    height: 100px;
    text-align: center;
}
#score {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 30px;
}
.corner {
    border: none;
}
.side {
    border-left: 0;
    border-right: 0;
}
.top {
    border-top: 0px;
    border-bottom: 0px;
}
#reset {
    text-align: center;
    position: relative;
    top: -40px;
    left: 180PX;
    width: 140px;
    display: inline-block;
    margin: 0 auto;
    color: #B29AB3;
}
#reset:hover{
    color: #8D5391;
}
.flex {
    display: flex;
}
#win, #tie, #displayXWon, #displayOWon {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background: whitesmoke;
    color: #8D5391;
    font-size: 40px;
    display: none;
    border-radius: 5%;
}
#win {
    /* display: flex; */
    flex-flow: row wrap;
    justify-content: space-between;
}
.center {
    text-align: center;
}
#win div {
    /* margin: 100px 0; */
    height: 50%;
    flex: 1 1 100%;
    text-align: center;
}
#win div:nth-of-type(1) h2 {
    position: relative;
    top: 100px;
}
/* #tie {
    background: #ABA1B9;
} */
#tie div h2 {
    position: relative;
    top: 150px;
}
#displayXWon, #displayOWon {
    text-align: center;
    flex-flow: row nowrap;
    /* background: #E5C5D0; */
}
#displayXWon div, #displayOWon div {
    flex: 0 1 100%;
    
}
#displayXWon div h2, #displayOWon div h2 {
    /* margin: 0 auto; */
    position: relative;
    top: 150px;
}

